#inspector {
    position: fixed;
    right: 0;
    top: 0;
    width: 320px;
    height: 100vh;
    background-color: beige;
    transition: transform 0.25s ease-in-out;
    box-shadow: 10px 0 20px #494949;
    padding: 12pt;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    transform: translateX(100%);

    div:has(> .angle-input)::after {
        display: block;
        content: '°';
        float: right;
        position: relative;
        top: -33px;
        right: 21px;
        height: 0;
        overflow: visible;
        pointer-events: none;
    }
    
    div:has(> .angle-input:hover, > .angle-input:focus)::after {
        display: block;
        opacity: 0;
    }

    > h3 {
        pointer-events: none;
    }
}
#inspector.active {
    transform: none;
}

#inspector .inspector-bonds {
    /* justify-self: flex-start; */
    height: stretch;
    min-height: 0;
    overflow: hidden;

    .inspector-bond {
        margin-bottom: 4px;

        button img, a img {
            height: 24px;
            transition: filter 0.15s ease-in-out;
        }

        .inspector-bond-elem-name {
            overflow-x: hidden;
        }

        .inspector-bond-dropdown img {
            margin-left: 0.2rem;
        }

        .btn-outline-dark:hover > img, .btn-outline-dark.show > img {
            filter: invert(1);
        }

        .inspector-bond-angle {
            height: stretch;
        }
    }
}

#inspector-remove-btns .btn.btn-danger {
    width: stretch;

    img {
        height: 24px;
    }
}

#inspector-remove-btns > button.disabled {
    pointer-events: all;
    cursor: default;
}

#inspector .inspector-add-bond {
    > div > .dropdown-menu {
        width: 500px;
        height: 300px;
        &.show {
            display: flex;
            flex-direction: column;
        }
    }

    .row[data-bond-tab] {
        display: none;
    }

    .row.show[data-bond-tab] {
        display: flex;
        height: stretch;
    }

    .row[data-bond-tab] input[type="text"] {
        height: fit-content;
    }

    #inspector-add-bond-elem-name {
        margin-top: .75rem;
        margin-left: .75rem;
    }

    .inspector-add-bond-select-type-btn::after {
        border-top: .3em solid;
        border-bottom: 0;
    }

    li a img, .inspector-add-bond-select-type-btn img {
        height: 24px;
    }
}