@font-face {
    font-family: 'Roboto';
    src: url("/assets/font/Roboto-VariableFont_wdth,wght.ttf");
}

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: geometricPrecision;

  width: 100vw;
  height: 100vh;
}

body {
    height: 100vh;
}

#main_container {
    overflow: hidden;
}

.btn-like {
    pointer-events: none !important;
}

.molecule-library .modal-dialog {
    width: 80vw;
    max-width: 80vw;

    .modal-content {
        height: 80vh;
        max-height: 80vh;

        .modal-header input, .modal-header select {
            width: auto;
        }
    }
}

.molecule-library-contents {
    display: grid;
    grid-template-columns: repeat(auto-fill, 12rem);
    grid-auto-rows: min-content;
    gap: 1.5rem 1.5rem;
    justify-content: space-evenly;

    .category-title {
        grid-column: 1/-1;
    }

    .selectable {
        transition: filter 0.15s ease-in-out;
    }

    .selectable:hover {
        filter: brightness(90%);
    }
}