@font-face {
    font-family: 'Roboto';
    src: url("/assets/font/Roboto-VariableFont_wdth,wght.ttf");
}

@font-face {
    font-family: 'Open Sans';
    src: url("/assets/font/OpenSans-VariableFont_wdth,wght.ttf");
}

:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --workspace-background: #fff;

  color: #0f0f0f;
  background-color: var(--workspace-background);

  font-synthesis: none;
  text-rendering: geometricPrecision;

  width: 100vw;
  height: 100vh;
}

body {
    height: 100vh;
}

#options-bar {
    display: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: #f7f7f7;
}

.options-export-quality-container {
    display: flex !important;
    align-items: center;
    column-gap: 0.75rem;
}

#main_container {
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.btn-like {
    pointer-events: none !important;
}

.btn-outline-dark > img {
    transition: filter 0.15s ease-in-out;
}

.btn-outline-dark:hover > img, .btn-outline-dark.show > img {
    filter: invert(1);
}

.molecule-library .modal-dialog {
    width: 80vw;
    max-width: 80vw;

    .modal-content {
        height: 80vh;
        max-height: 80vh;

        .modal-header input, .modal-header select {
            width: auto;
        }
    }
}

.molecule-library-contents {
    display: grid;
    grid-template-columns: repeat(auto-fill, 12rem);
    grid-auto-rows: min-content;
    gap: 1.5rem 1.5rem;
    justify-content: space-evenly;

    .category-title {
        grid-column: 1/-1;
    }

    .selectable {
        transition: filter 0.15s ease-in-out;

        .card-img-top {
            overflow: hidden;
        }
    }

    .selectable:hover {
        filter: brightness(90%);
    }
}