.mol-container {
    --molecule-min-x: 0;
    --molecule-min-y: 0;
    --molecule-max-x: 0;
    --molecule-max-y: 0;
    --molecule-width: 0;
    --molecule-height: 0;
    --molecule-initial-x: 0;
    --molecule-initial-y: 0;
    --molecule-offset-x: 0;
    --molecule-offset-y: 0;
    margin: 0;
    will-change: --molecule-offset-x, --molecule-offset-y;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; */
}

main.mol-container {
    padding-top: 10vh;
}

.molecule {
    --stuff-size: 14pt;
    --bond-width-initial: 10;
    --bond-width-mult: 1;
    --bond-rot: 0deg;
    --total-bond-rot: 0deg;
    --elem-transform-x: 0;
    font-size: var(--stuff-size);
    margin: auto;
    /* border-left: 2pt solid red; */
    width: var(--molecule-width);
    height: var(--molecule-height);
}

.element {
    display: inline;
    position: absolute;
    --parent-total-bond-rot: var(--total-bond-rot);
    --bond-aro-add: 0pt;
    --content-background: var(--workspace-background);
    /* transform-origin: var(--elem-transform-x) 48%; */
    /* transform-origin:
        calc((0.4 * cos(var(--bond-rot)) + 0.5 * sin(var(--bond-rot))) * var(--stuff-size))
        calc((0.4 * sin(var(--bond-rot)) + 0.5 * cos(var(--bond-rot))) * var(--stuff-size)); */
    
    /* transform: rotate(calc(-1 * var(--bond-rot))); */
}

.molecule > .element {
    position: relative;
    left: calc(var(--molecule-initial-x) - var(--molecule-min-x) + var(--molecule-offset-x));
    top: calc(var(--molecule-initial-y) - var(--molecule-min-y) + var(--molecule-offset-y));
}

.element:has(> .elem-count) {
    --bond-aro-add: 5pt;
}

.element:has(> .elem-charge) {
    --bond-aro-add: 8pt;
}

.element.highlighted {
    --content-background: #a1c9fd;
}

.element.selected {
    --content-background: #25f19c;
}

/* .element.highlighted::before {
    display: block;
    content: '';
    width: calc(var(--bond-attached-elem-width) + 0.12 * var(--stuff-size));
    height: calc(var(--bond-attached-elem-height) + 0.02 * var(--stuff-size));
    position: absolute;
    left: calc(-0.06 * var(--stuff-size));
    top: calc(-0.01 * var(--stuff-size));
    background: #a1c9fd;
    opacity: 0.7;
    z-index: 9;
    border-radius: calc(0.33 * var(--stuff-size));
}

.element.selected::before {
    display: block;
    content: '';
    width: calc(var(--bond-attached-elem-width) + 0.12 * var(--stuff-size));
    height: calc(var(--bond-attached-elem-height) + 0.02 * var(--stuff-size));
    position: absolute;
    left: calc(-0.06 * var(--stuff-size));
    top: calc(-0.01 * var(--stuff-size));
    background: #25f19c;
    opacity: 0.7;
    z-index: 9;
    border-radius: calc(0.33 * var(--stuff-size));
} */

.elem-content {
    position: absolute;
    display: inline-block;
    margin-right: 0.5pt;
    width: max-content;

    --height-sub-top: 6px;
    --height-sub-bottom: 5px;
    --bg-offset-x: 0px;
    --bg-offset-y: 0px;

    > * {
        position: relative;
        z-index: 10;
        > span {
            position: relative;
            z-index: 10;
        }
    }

    &:has(> button sub) {
        --height-sub-bottom: 0px;
    }

    &:has(> button sup) {
        --height-sub-top: 0px;
    }

    &.elem-empty button {
        width: 12.5px;
        height: 24px;
    }
    
    &[data-elem-align="up"] {
        --bg-offset-y: calc(20px - var(--bond-attached-elem-height));
        --height-sub-bottom: 0px;

        > button {
            display: inline-flex;
            flex-direction: column-reverse;
            align-items: flex-start;
    
            top: var(--bg-offset-y);
    
            > * {
                margin-bottom: -7px;
            }
        }
    }

    &[data-elem-align="down"] {
        --height-sub-bottom: 0px;
        
        > button {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
    
            > * {
                margin-bottom: -7px;
            }
        }
    }

    &[data-elem-align="right"] {
        --bg-offset-x: calc(12.5px - var(--bond-attached-elem-width));

        > button {
            left: var(--bg-offset-x);
        }
    }

    &[data-elem-align="center"] {
        --bg-offset-x: calc(0.5 * (12.5px - var(--bond-attached-elem-width)));

        > button {
            left: var(--bg-offset-x);
        }
    }
}

.element > .elem-content[data-elem-align="center"]:not(.elem-empty) > *::after, 
.element > .elem-content[data-elem-align="left"]:not(.elem-empty) > *::after {
    content: attr(data-content-html);
    position: absolute;
    left: 0;
    -webkit-text-stroke: 7px var(--content-background);
    z-index: 8;
}

.element > .elem-content:not([data-elem-align="left"]):not([data-elem-align="center"]):not(.elem-empty) > * {
    text-shadow:
         0px  0px 4px var(--content-background),
        -3px -3px 1px var(--content-background),
        -3px -2px 1px var(--content-background),
        -3px  0px 1px var(--content-background),
        -3px  2px 1px var(--content-background),
        -3px  3px 1px var(--content-background),
        -2px -3px 1px var(--content-background),
        -2px  3px 1px var(--content-background),
         0px -3px 1px var(--content-background),
         0px  3px 1px var(--content-background),
         2px -3px 1px var(--content-background),
         2px  3px 1px var(--content-background),
         3px -3px 1px var(--content-background),
         3px -2px 1px var(--content-background),
         3px  0px 1px var(--content-background),
         3px  2px 1px var(--content-background),
         3px  3px 1px var(--content-background)
    ;
}

.elem-content sub {
    display: inline-block;
    vertical-align: inherit;
    font-size: calc(var(--stuff-size) * 0.66);
    transform: translateY(calc(var(--stuff-size) * 0.083));
}

.elem-content sup {
    display: inline-block;
    vertical-align: inherit;
    font-size: calc(var(--stuff-size) * 0.66);
    transform: translateY(calc(var(--stuff-size) * -0.16));
}

.elem-content button {
    border: none;
    padding: 0;
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.elem-content:not(.elem-empty)::before {
    display: block;
    content: '';
    width: calc(var(--bond-attached-elem-width) + 0.02 * var(--stuff-size));
    height: calc(var(--bond-attached-elem-height) - var(--height-sub-top) - var(--height-sub-bottom) + 0.02 * var(--stuff-size));
    position: absolute;
    left: calc(-0.01 * var(--stuff-size) + var(--bg-offset-x));
    top: calc(var(--height-sub-top) - 0.01 * var(--stuff-size) + var(--bg-offset-y));
    background: var(--content-background);
    z-index: 8;
    border-radius: calc(0.33 * var(--stuff-size));
}

.element.selected > .elem-content.elem-empty::before,
.element.highlighted > .elem-content.elem-empty::before {
    display: block;
    content: '';
    width: calc(12.5px + 0.02 * var(--stuff-size));
    height: calc(24px + 0.02 * var(--stuff-size));
    position: absolute;
    left: calc(-0.01 * var(--stuff-size) + var(--bg-offset-x));
    top: calc(-0.01 * var(--stuff-size) + var(--bg-offset-y));
    background: var(--content-background);
    z-index: 8;
    border-radius: calc(0.33 * var(--stuff-size));
}

.elem-charge {
    display: inline-block;
    position: absolute;
    font-size: calc(0.6 * var(--stuff-size));
    transform: translateY(calc(-0.3 * var(--stuff-size)));
}

.elem-count {
    display: inline-block;
    position: absolute;
    font-size: calc(0.6 * var(--stuff-size));
    transform: translateY(calc(0.3 * var(--stuff-size)));
}

.partial-charge::before {
    content: 'δ';
}

.partial-charge {
    position: absolute;
    left: 0;
}

.partial-charge.positive::after {
    content: '⁺';
}
.partial-charge.negative::after {
    content: '⁻';
}

.bond {
    --bond-width: calc(var(--bond-width-initial) * var(--bond-width-mult));
    /* --molecule-elem-dist: calc(1mm * var(--bond-width) + var(--stuff-size)); */
    --molecule-elem-dist: calc(1mm * var(--bond-width));
    --bond-attached-elem-width: 0; /* Gets set through JS */
    --bond-attached-elem-height: 0; /* Gets set through JS */
    --bond-parent-elem-width: 0; /* Gets set through JS */
    --bond-parent-elem-height: 0; /* Gets set through JS */
    --bond-elem-offset-x-mult: calc(sign(mod(var(--bond-rot) + 90.5deg, 360deg) - 180deg) * 0.5 + 0.5);
    --bond-elem-offset-x: calc(var(--bond-attached-elem-width) * var(--bond-elem-offset-x-mult));
    --bond-elem-pos-x: calc(var(--molecule-elem-dist) * cos(var(--bond-rot)));
    /* --bond-elem-pos-x: calc(var(--molecule-elem-dist) * cos(var(--bond-rot)) + (12.2px - var(--bond-attached-elem-width)) * var(--bond-elem-offset-x-mult)); */
    /* --bond-elem-pos-x: calc(var(--molecule-elem-dist) * cos(var(--bond-rot)) + (12.2px - var(--bond-attached-elem-width)) * var(--bond-elem-offset-x-mult) + (var(--bond-parent-elem-width) - 12.2px * 0.5) * var(--bond-elem-offset-x-mult)); */
    --bond-elem-pos-y: calc(var(--molecule-elem-dist) * sin(var(--bond-rot)));
    display: inline-block;
    position: absolute;
    left: var(--bond-elem-pos-x);
    top: var(--bond-elem-pos-y);
}


.bond::before {
    content: '';
    position: absolute;
    left: calc(12.2px * 0.5);
    /* left: calc(12.2px * (0.5 - var(--bond-elem-offset-x-mult)) + var(--bond-attached-elem-width) * var(--bond-elem-offset-x-mult)); */
    top: 0;
    display: block;
    width: calc(1mm * var(--bond-width));
    height: 28px;

    transform-origin: 0% 48%;
    transform:
        rotate(calc(180deg + var(--bond-rot)))
        /* translateX(calc(0.5 * var(--stuff-size))) */
        ;
}

button.invert-molecule-col .molecule .bond::before {
    transition: filter 0.15s ease-in-out;
}
button.invert-molecule-col:hover .molecule .bond::before {
    filter: invert(1);
}

/* Debugging */
/* .bond::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: var(--bond-attached-elem-width);
    height: 4px;
    background: repeating-linear-gradient(
        to right,
        red 0px,
        blue 12.2px
    );
} */

/* .bond::before {
    --bond-svg-transform-origin-x: calc(12.16px * (0.5 - var(--bond-elem-offset-x-mult)) + var(--bond-elem-offset-x));
    position: absolute;
    display: inline-block;
    display: none;
    width: calc(1mm * var(--bond-width));
    overflow: hidden;
    height: 10mm;
} */

.bond.single::before {
    background: url("/assets/png/single_bond.png");
    background-size: 100% 40%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.bond.double::before {
    background: url("/assets/png/double_bond.png");
    background-size: 100% 40%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.bond.triple::before {
    background: url("/assets/png/triple_bond.png");
    background-size: 100% 40%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.bond.dotted::before {
    background: url("/assets/png/dotted_bond.png");
    background-size: 100% 40%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}